* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* Utility Classes */

h1, h3, h4, h2 {
    font-family: 'Special Elite', monospace;
    text-shadow: -2px 2px 2px #2874A6;

}
/* Home Page */



#navbar ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #333;
}

#navbar ul li {
    display: block;
    width: 100%;

}

#navbar .icon {
    display: inline-block;
}




.ht1 {
    font-size: 2rem;
    display: inline;
    border-radius: 5px;
}

.btn-dark {
    top:.5rem;
    position: relative;
    font-family: 'Special Elite', monospace;
    display: inline-block;
    text-decoration: none;
    line-height: 1.5rem;
    font-size: 1rem;
    background: #2874A6;
    color: whitesmoke;
    padding: .5rem;
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s ease-in-out .0s;
}


/* Double Container Section */

.double-cont {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.double-cont .c1 {
    flex: 1;
    display: flex;
}
.double-cont .c2 {
    flex: 1;
    padding: 1rem;
    overflow: hidden;
}

.double-cont .c2 h3 {
    color: #222;
    text-align: center;
    background:#2E86C1;
    font-size: 3rem;
    border-radius: 15px;
}

.double-cont .c2 p {
    padding-top: 1rem;
    font-size: 1rem;
    text-align: center;
}

.img {
    width: 100%;
    height: 100%;

}
.service-cont {
    flex: 1;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.service-cont h1 {
    color: white;
    position: absolute;
    font-size: .8rem;
    top: 50%;
}


/* About section */

#about {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    border-bottom: 4px dashed #1A5276;
    background: antiquewhite;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;

}


#about .container1 {
    display: flex;
    flex-direction: column;
    flex: 2;

}

#about .container2 .a-img {
    display: none;
}

#about .container2 {
    flex: 1;
    width: 100%;
    background: url(/img/about-img.jpg) center center/cover fixed;
}

#button .bg-layer {
    display: inline-block;
}

#button {
    display: none;
}


#btn-h {display: none;}


#about .container1 h1 {
    padding: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

#testimonials {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    border-bottom: 4px dashed #1A5276;
    background: #222;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
#testimonials .t1{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.a-img {
    position: relative;
    border-radius: .5rem;
    border: 1px solid antiquewhite;
    height: 100%;
    width: 100%;
    padding: 0 .2rem;
    flex: 1;
    display: flex;
    overflow: hidden;
}

.t1 .t-img {
    float: left;
    border-radius: 50%;
    height: 90%;
    width: 35%;
    border: 1px solid antiquewhite;
    padding: 0 .2rem;
}



.t1 .t-info {
    float: right;   
    width: 100%;
    height: 100%;
    background: #5DADE2;
    border-radius: 3px;
    padding: .6rem;
    box-shadow: -2px 2px 2px #9A7D0A;
    overflow: hidden;
    font-size: .75rem;
    position: relative;
    bottom: .5rem;
}

#testimonials .t1 {
    float: left;
    height: 50%;
    width: 100%;
}

#testimonials .t2 {
    float: right;
    height: 50%;
    width: 100%;
    padding: 1rem;
}

#testimonials .t2 h1 {
    padding: 1.5rem ;
    font-size: 2.5rem;
    color: antiquewhite;
    text-shadow: -4px 4px 4px #2E86C1;
}

#testimonials .t2 p {
    color: whitesmoke;
    line-height: 1rem;
}


/* Services */
#services {
    height: 100%;
    background: #222;
    display: flex;
    flex-direction: column;
}

#solution h1 {
    padding-top: 35%;
    padding-right: .4rem;
    padding-left: .4rem;
    font-size: 2rem;
}
.s-content {
    flex: 1;
    padding-top: 1rem;
    position: relative;
    text-align: center;
}

.s-list {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 50%;
    overflow: hidden;
}

.s-list ul {
    list-style: none;
}

.s-list ul li {
    color: whitesmoke;
    font-size: 1rem;
    transition: .6s;
    padding: 1rem;
}

.s-list h2 {
    padding-top: 1rem;
}

.s-list .s-1{
    flex: 1;
    height: 25%;
    background: url(/img/drywall.jpg) center center/cover;
}

.s-list .s-1:hover {
    height: 100%;
}

.s-list .s-2{
    flex: 1;
    height: 25%;
    background: url(/img/floor.jpg) center center/cover;
}

.s-list .s-2:hover {
    top: -25%;
    position: relative;
    height: 100%;
}

.s-list .s-3{
    flex: 1;
    height: 25%;
    background: url(/img/paint.jpg) center center/cover;
}

.s-list .s-3:hover {
    top: -50%;
    position: relative;
    height: 100%;
}

.s-list .s-4{
    flex: 1;
    height: 25%;
    background: url(/img/Projects/Img-34.jpg) center center/cover;
}

.s-list .s-4:hover li{
    color: #333;
}

.s-list:hover li {
  
}

.s-content h1 {
    padding: .5rem 0;
    font-size: 2rem;
}

.s-content p {
    color: #ABB2B9;
    line-height: 1.5rem;
    padding: 1rem;
}



/* Gallery */


#header h1 {
    font-size: 1.2rem;
    top: 22%;
    left: 20%;
}

#header {
    height: 40vh;
}

#latest {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.p-info {
    padding: .8rem;
}

.p-info h3 {
    font-size: 1.2rem;
    padding: 1rem;
}

#current-project {
    width: 100%;
}


#project-contain {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    
}

#project-contain .project {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;

}

#project-contain .project::-webkit-scrollbar {
    height: 17px;
    display: none;
}
 
#project-contain .project::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black; 
    background: #515A5A;
    border-radius: 10px;
}
 
#project-contain .project::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #B7950B;
    border: #2E86C1 1.5px solid;
    -webkit-box-shadow: inset 0 0 6px ; 
}

#project-contain .project .p1-img {
    border: 1px dashed black;
    height: 98%;
    width: 100%;
    margin: 0rem .01rem;
    border-radius: 2%;
}

#project-contain .project .p1-img:hover {
    opacity: .88;
    border: 2px dashed #B7950B;
}

#project-contain .project .i-1 {
    background: url(/img/Projects/Bathroom/Img-2.jpg) center center/cover;
}
#project-contain .project .i-2 {
    background: url(/img/Projects/Bathroom/Img-3.jpg) center center/cover;
}#project-contain .project .i-3 {
    background: url(/img/Projects/Bathroom/Img-30.jpg) center center/cover;
}#project-contain .project .i-4 {
    background: url(/img/Projects/Bathroom/Img-33.jpg) center center/cover;
}#project-contain .project .i-5 {
    background: url(/img/Projects/Bathroom/Img-34.jpg) center center/cover;
}#project-contain .project .i-6 {
    background: url(/img/Projects/Bathroom/Img-41.jpg) center center/cover;
}#project-contain .project .i-7 {
    background: url(/img/Projects/Bathroom/Img-42.jpg) center center/cover;
}#project-contain .project .i-8 {
    background: url(/img/Projects/Bathroom/Img-43.jpg) center center/cover;
}#project-contain .project .i-9 {
    background: url(/img/Projects/Bathroom/Img-45.jpg) center center/cover;
}#project-contain .project .i-10 {
    background: url(/img/Projects/Bathroom/Img-46.jpg) center center/cover;
}

#project-contain #img-viewer {
    position: relative;
    width: 96%;
    height: 70%;    
    border-radius: 3%;
    border: 2px solid #1F618D;
    
}


#project-contain #img-viewer img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
}


/* Contact Page */
#c-land {
    height: 45vh;
}
#f-section {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#f-section .c1 {
    width: 100%;
}

#f-section .c2 {
    width: 100%;
    font-size: 1rem;
    padding-left: 2rem;
}

#f-section .c1 p {
    font-family: 'Special Elite', monospace;
    line-height: 1rem;
}

#f-section .c1 i {
    padding-top: .5rem;
}

#f-section .c1 h3{
    padding: 2rem 1rem;
    font-size: 2.3rem;
}



.ht2 {
    position: relative;
    top: 10rem;
    left: -1rem;
}

.welcome-mat h1 {
    text-align: center;
    font-size: 2rem;
    padding-left: 2rem;
}


#contact-img {
    position: relative;
    left: 2.5rem;
    float: left;
    height: 90%;
    width: 15rem;
    border-radius: 1rem;
    border: 1px white dashed;
    background: url(/img/phone.jpeg) center center/cover ;
}

.btn {
    margin: .3rem 25%;
    width: 50%;
    position: relative;
    font-family: 'Special Elite', monospace;
    display: inline-block;
    text-decoration: none;
    line-height: 1rem;
    font-size: 1rem;
    background: #2874A6;
    color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s ease-in-out .0s;
}

#contact-img {
    display: none;
}

form {
    width: 100%;
    color: #909497;
    height: 100%;
    padding: .5rem;
}
.form-group input{
    width: 12rem;
    position: relative;
}

#first-name:after {
    position: absolute;
    content: "Last Name";
    display: inline-block;
}

/* Footer */
footer {
    height: 30vh;
    border:5px solid #222;
}

.f-container {
    width: 100%;
    height: 100%;
}


.box-footer {
    text-align: center;
    padding-top: 1rem;
    float: left;
    width: 25%;
    height: 100%;
    font-size: 1rem;
}

.box-footer a {
    text-decoration: none;
    color: #E5E8E8;

}

.box-footer .a1 {
    color: white;
}

.box-footer ul li a {
    font-size: .8rem;
}

.box-footer ul {
    list-style: none;

}


.fab {
    padding-right: 1rem;
    font-size: 1rem;
}
#box-4 .fab {
    color: #222;
}


.box-footer a i {
    color: #196F3D;
}

.box-footer a i:hover {
    transition: .4s;
    color: #D4AC0D;
    opacity: .75;
}

.box-footer .box-content a:hover {
    transition: .5s;
    color: #D4AC0D;
    margin-left: 5px;
    border-bottom: #D4AC0D 1.5px solid;
}



#box-4 ul li:nth-child(5) {
    padding-right: .6rem;
}



.copyright {
    display: inline-block;
    width: 100%;
    background: #333;
    color: #ABB2B9;
    text-align: center;
    font-size: .8rem;
}

